echo-server:
  enabled: true
  fullnameOverride: echo-server

  image:
    repository: ealen/echo-server
    pullPolicy: IfNotPresent
    tag: latest

  tls:
    enabled: true
    secretName: "echo-server-tls"
    domains:
      - echo-server.k8s.nabi.kim

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: echo-server.k8s.nabi.kim
        paths:
          - path: /
            pathType: ImplementationSpecific
