serviceAccount:
  create: true

rbac:
  create: true

database:
  replicas: 3

server:
  replicas: 2
  ingress:
    enabled: true
    annotations:
      kubernetes.io/tls-acme: true
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    host: teamcity.k8s.nabi.kim
    tls:
      enabled: true
      secretName: teamcity-tls
  pvc:
    enabled: true
    storageSize: 20Gi

agent:
  replicas: 3
  pvc:
    enabled: true
    storageSize: 20Gi
