serviceAccount:
  create: true

rbac:
  create: true

database:
  replicas: 1
  pvc:
    enabled: true
    storageSize: 5Gi
    nodeAffinity: 
      required:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - nabiserver
server:
  replicas: 1
  ingress:
    enabled: true
    annotations:
      kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    host: teamcity.k8s.nabi.kim
    tls:
      enabled: true
      secretName: teamcity-tls
  pvc:
    enabled: true
    storageSize: 20Gi
    nodeAffinity: 
      required:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - nabiserver

agent:
  replicas: 3
  pvc:
    enabled: true
    storageSize: 20Gi
    nodeAffinity: 
      required:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - nabiserver
